// @import "../App";

// Variables:
$primaryColor: #2d2d2d;
$secondaryColor: #F5F5F5;
$thirdColor: #12886E;
$fourthColor: #B8ECD6;
$accentColor: #FED430;

// Mixins:
@mixin primaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Playfair Display', serif;
} 

@mixin secondaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Open Sans', sans-serif;
}

.resultsPage {
    text-align: center;
    margin: 0 auto;
    height: 140vh;
    color: white;

    .headingContainer {
        background: linear-gradient(rgba(19, 135, 110, 0.4), rgba(0, 0, 0, 0.8)), url('./resultsBackground.jpg');
        padding-top: 0.1px;
        padding-bottom: 0.1px;
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        &__contents {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h2 {
            @include primaryFont(20);   
            margin-top: 150px;

         }

        h4 {
            @include secondaryFont(12);
            margin-top: 13.5px;
            font-weight: 400;
            color: $secondaryColor;
            max-width: 60%;
            margin: 0 auto;
        }
    }
}

// .mapContainer {
//     margin: 0 auto;
//     text-align: center;
//     margin: 50px 0;
//     clear: both;
// }

.resultsContainer {
    margin-top: 50px;

    h2 {
        @include primaryFont(20); 
        color: $primaryColor;
    }
}

.resultLinks {
    display: float;
    margin: 30px auto 45px auto;
    width: 50%;
   
    .concertListLink {
        float: left;
    }

    .libraryListLink {
        float: right;
    }

    .linkText {
        @include secondaryFont(10);
        color: $primaryColor;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: 0.5s ease;

        &:hover {
            color: $fourthColor;
        }
    }
    
}
