// @import "../App";

// Variables:
$primaryColor: #2d2d2d;
$secondaryColor: #F5F5F5;
$thirdColor: #12886E;
$fourthColor: #B8ECD6;
$accentColor: #FED430;

$playfair: 'Playfair Display', serif;

// Mixins:
@mixin primaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Playfair Display', serif;
} 

@mixin secondaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Open Sans', sans-serif;
}

.resultsPage {
    background: #F2F3F3;
    text-align: center;
    margin: 0 auto;
    height: 140vh;
    color: white;
    position: relative;
    // z-index: 100;

    .whiteOverlay {
        position: relative;
        z-index: -100;
    }

    .brush {
        width: 100%;
        position: absolute;
        top: -200px;
        right: 0px;
        left: 0px;
        transform: scaleX(-1);
    }

    .whiteOverlay::before {
        content: "";
        width: 100px;
        height: 100px;
        background: #F2F3F3;
        display: inline-block;
        position: absolute;
        z-index: 700;
        top: -135px;
        right: 0;

    }

    .headingContainer {
        background: linear-gradient(rgba(19, 135, 110, 0.4), rgba(0, 0, 0, 0.5)), url('./resultsBackground.jpg');
        padding-top: 0.1px;
        padding-bottom: 0.1px;
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        &__contents {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h2 {
            @include secondaryFont(16);   
            margin-top: 150px;
            font-weight: 400;
         }

        h4 {
            @include secondaryFont(18);
            margin-top: 13.5px;
            font-weight: 400;
            color: $secondaryColor;
            max-width: 60%;
            margin: 0 auto;
        }
    }
    
    .hotOrNot {
        text-transform: uppercase;
        color: $accentColor;
        display: block;
        font-size: 6rem;
        letter-spacing: 0.6rem;
        font-family: $playfair;
    }
}

.resultsContainer {
    z-index: 200;
    position: relative;
    margin-top: 50px;

    h2 {
        @include primaryFont(30); 
        color: $primaryColor;
        margin-bottom: 40px;
    }
}

.resultLinks {
    display: float;
    margin: 30px auto 45px auto;
    width: 50%;
   
    .concertListLink {
        float: left;
    }

    .libraryListLink {
        float: right;
    }

    .linkText {
        @include secondaryFont(13.5);
        color: $primaryColor;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: 0.5s ease;
        border-bottom: 1.5px solid $thirdColor;
        padding-bottom: 10px;

        &:hover {
            color: $thirdColor;
        }
    }
    
}
