.resultsPage {
  background: #F2F3F3;
  text-align: center;
  margin: 0 auto;
  height: 140vh;
  color: white;
  position: relative; }
  .resultsPage .whiteOverlay {
    position: relative;
    z-index: -100; }
  .resultsPage .brush {
    width: 100%;
    position: absolute;
    top: -200px;
    right: 0px;
    left: 0px;
    transform: scaleX(-1); }
  .resultsPage .whiteOverlay::before {
    content: "";
    width: 100px;
    height: 100px;
    background: #F2F3F3;
    display: inline-block;
    position: absolute;
    z-index: 700;
    top: -135px;
    right: 0; }
  .resultsPage .headingContainer {
    background: linear-gradient(rgba(19, 135, 110, 0.4), rgba(0, 0, 0, 0.5)), url("./resultsBackground.jpg");
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    .resultsPage .headingContainer__contents {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .resultsPage .headingContainer h2 {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: 'Open Sans', sans-serif;
      margin-top: 150px;
      font-weight: 400; }
    .resultsPage .headingContainer h4 {
      font-size: 18px;
      font-size: 1.8rem;
      font-family: 'Open Sans', sans-serif;
      margin-top: 13.5px;
      font-weight: 400;
      color: #F5F5F5;
      max-width: 60%;
      margin: 0 auto; }
  .resultsPage .hotOrNot {
    text-transform: uppercase;
    color: #FED430;
    display: block;
    font-size: 6rem;
    letter-spacing: 0.6rem;
    font-family: "Playfair Display", serif; }

.resultsContainer {
  z-index: 200;
  position: relative;
  margin-top: 50px; }
  .resultsContainer h2 {
    font-size: 30px;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: #2d2d2d;
    margin-bottom: 40px; }

.resultLinks {
  display: float;
  margin: 30px auto 45px auto;
  width: 50%; }
  .resultLinks .concertListLink {
    float: left; }
  .resultLinks .libraryListLink {
    float: right; }
  .resultLinks .linkText {
    font-size: 13.5px;
    font-size: 1.35rem;
    font-family: 'Open Sans', sans-serif;
    color: #2d2d2d;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease;
    border-bottom: 1.5px solid #12886E;
    padding-bottom: 10px; }
    .resultLinks .linkText:hover {
      color: #12886E; }

@media only screen and (max-width: 600px) {
  .resultsPage .brush {
    top: -120px; }
  .resultsPage .whiteOverlay::before {
    display: none; }
  .resultsPage h2 {
    margin-top: 0; }
  .resultsPage .hotOrNot {
    font-size: 4rem; }
  .resultsPage .headingContainer h4 {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 95%; } }
