
// Variables:
$primaryColor: #2d2d2d;
$secondaryColor: #F5F5F5;
$thirdColor: #12886E;
$fourthColor: #B8ECD6;
$accentColor: #FED430;

// Homepage styles (includes stiles for Home.js, Search.js)

.homeBackground {
    background: url('./homeBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.overlay {
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 20%, transparent 50%, rgba(255, 255, 255, 0.3) 90%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, transparent 50%, rgba(0, 0,0, 0.95) 90%);
    height: 100vh;
    padding-top: 0.1px;
}

.searchContainer {
    margin-top: 70px;
    text-align: center;
    width: 50%;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

form {
    margin-top: 25px;
}

#location {
    padding: 10px 20px;
    background: white;
    border: 1px solid white;
    color: dimgray;
    margin-right: 10px;
    width: 50%;
    position: relative; 

    &:active {
        background: white;
        outline: none;
    }
}


#submit {
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.3px;

    &:hover {
        background: lighten(black, 20);
        border: 1.5px solid lighten(black, 20);
        transition: ease all 0.5s;
        box-shadow: 0 0 10px $fourthColor;
    }
}

.addressValidator {
    text-align: center;
    p {
        color: $secondaryColor;
        font-size: 1rem;
        font-style: italic;
        margin-top: 40px;
    }
}

.loadingBars {
    margin: 0 auto;
    margin-top: 30px;
    width: 90px;
    height: 90px;

    img {
        width: 100%;
    }
}