.homeBackground {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, transparent 50%, rgba(0, 0, 0, 0.95) 90%), url("./homeBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative; }

.searchContainer {
  text-align: center;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.searchBoxContainer {
  position: relative;
  display: inline-block;
  width: 60%;
  margin-right: 10px; }

.searchBoxContainer #location {
  font-size: 1.6rem;
  padding: 17px 30px 17px 18px;
  font-size: 1.6rem; }

.searchBoxLabel {
  display: inline-block; }

.floatingLabel {
  position: absolute;
  top: 22px;
  left: 20px;
  transition: 0.3s;
  color: #888; }

<<<<<<< HEAD
.searchBoxContainer input:focus ~ label,
.searchBoxContainer input:valid ~ label {
  top: -1px;
=======
.searchBoxContainer input:focus + label,
.searchBoxContainer input:valid + label {
  top: 0px;
>>>>>>> cee69e280a881b6c207e862d7757c56a0fa4f57c
  font-weight: bold;
  font-size: 1.2rem; }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

form {
  margin-top: 25px; }

#location {
  padding: 10px 20px;
  background: white;
  border: 1px solid white;
  color: dimgray;
  margin-right: 10px;
  width: 100%;
  position: relative; }
  #location:active {
    background: white;
    outline: none; }

#submit {
  padding: 16px 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px; }
  #submit:hover {
    background: #333333;
    border: 1.5px solid #333333;
    transition: ease all 0.5s;
    box-shadow: 0 0 10px #B8ECD6; }

.search #submit {
  font-size: 1.6rem; }

.addressValidator {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 45%;
  transform: translate(-50%, 5%); }
  .addressValidator p {
    color: white;
    font-size: 2rem;
    font-style: italic;
    background: black;
    padding: 9px 12px; }

.loadingBars {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 45%;
  transform: translate(-50%, 5%); }
  .loadingBars img {
    width: 50%;
    size: 30%; }
