@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display:900");
.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto; }

input#location,
input#submit {
  font-size: 9px;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer; }
  input#location:focus,
  input#submit:focus {
    box-shadow: 3px 3px 10px #B8ECD6;
    outline: 1px solid #B8ECD6;
    border: 1px solid #B8ECD6; }

#submit {
  background: black;
  color: white;
  border: 1.5px solid black; }

ul {
  list-style: none;
  padding-left: 0; }

body {
  font-size: 62.5%;
  letter-spacing: 1.1px; }

h1 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Playfair Display', serif; }

h1,
.searchInfo p {
  color: #F5F5F5;
  font-weight: 400; }

.searchInfo p {
  font-size: 9px;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

.bold {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #FED430;
  text-transform: uppercase; }

header {
  height: 70px;
  background: black;
  position: relative; }

.logo {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 15px; }

.resultsContainer .mapContainer {
  margin: 0 auto; }

footer {
  background: black;
  color: #F5F5F5;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 9px;
  font-size: 0.9rem;
  font-family: 'Playfair Display', serif; }
  footer .footerWrapper {
    display: float;
    margin: 0 auto;
    width: 90%;
    padding-top: 10px; }
  footer p:first-child {
    float: left;
    margin-top: 6.5px; }
  footer p:last-child {
    float: right;
    font-size: 7px;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif; }
