// GLOBAL STYLES
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display:900');

// Variables:
$primaryColor: #2d2d2d;
$secondaryColor: #F5F5F5;
$thirdColor: #12886E;
$fourthColor: #B8ECD6;
$accentColor: #FED430;


// Mixins:

@mixin primaryFont($fontSize) {
    // font-size: $fontSize * 1px;
    // font-size: ($fontSize / 8) * 1rem;
    font-family: 'Playfair Display', serif;
} 

@mixin secondaryFont($fontSize) {
    // font-size: $fontSize * 1px;
    // font-size: ($fontSize / 8) * 1rem;
    font-family: 'Open Sans', sans-serif;
}


// General styles:
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

input#location,
input#submit {
    @include secondaryFont(9);
    cursor: pointer;

    &:focus {
        box-shadow: 3px 3px 10px $fourthColor;
        outline: 1px solid $fourthColor;
        border: 1px solid $fourthColor;
    }
}

#submit {
    background: black;
    color: white;
    border: 1.5px solid black;
}

ul {
    list-style: none;
    padding-left: 0;
}

// Typography:
body {
    font-size: 62.5%;
    letter-spacing: 1.1px;
    background: #F2F3F3;
}

h1 {
    // text-transform: uppercase;
    @include primaryFont(20);
}

h1, 
.searchInfo p {
    color: $secondaryColor;
    font-weight: 400;
}

.searchInfo p {
    @include secondaryFont(9);  
    line-height: 1.6;
}

.bold {
    @include primaryFont(25);
    font-weight: 700;
    color: $accentColor;
    text-transform: uppercase;
}


// HEADER STYLES
header {
    height: 70px;
    background: black;
    position: relative;
}

.logo {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 15px;
    z-index: 100;
}

// LIST ITEMS CONTAINER

.eventContainer {
    display: block;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 13px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
    line-height: 18px;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid lightgrey;
    &:hover {
        background: lightgrey;
        transform: scale(1.3);
        transition: 0.6s;
    }
    &__header{font-weight: bold}
}

// MAP CONTAINER
.resultsContainer .mapContainer {
    margin: 0 auto;
}
.resultsContainer {
    padding: 20px 0 80px 0;
}

// FOOTER STYLES
footer {
    background: black;
    color: $secondaryColor;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    @include primaryFont(9);

    .footerWrapper {
        display: float;
        margin: 0 auto;
        width: 90%;
        padding-top: 10px;
    }

    p:first-child {
        float: left;
        margin-top: 6.5px;
    }

    p:last-child {
        float: right;
        @include secondaryFont(7);
    }
}
